// Generated by swift-openapi-generator, do not modify.
@_spi(Generated) public import OpenAPIRuntime
#if os(Linux)
@preconcurrency public import struct Foundation.URL
@preconcurrency public import struct Foundation.Data
@preconcurrency public import struct Foundation.Date
#else
public import struct Foundation.URL
public import struct Foundation.Data
public import struct Foundation.Date
#endif
import HTTPTypes
/// 素早さ比較の独立サービスの契約。
/// SP0 はヘルスチェックと、既定のレギュレーションで使用可能なポケモンの一覧(素早さ種族値つき)を返す。
/// SP1 は素早さの表(各ポケモン 6 行のプリセットを速い順に並べ、同じ値を 1 つの段にまとめたもの)を返す。
/// SP2 は自分のポケモンの実数値と、その表の中の位置(自分より速い行の数・同速の行・遅い行の数)を返す。
/// 契約の正は docs/adr/0600-speed-sp0-foundation.md・docs/adr/0601-speed-sp1-table.md・
/// docs/adr/0602-speed-sp2-position.md と docs/speed-design.md。
/// 0.4.0: X-Device-Id / X-Session-Id を gateway と同じ正準形 UUID で検証し、ヘッダー起因の 400 の code を
/// missing_header / invalid_header に分けた(破壊的変更。ADR-0606)。
/// 0.5.0: 追い風・まひ・トリックルームを足した(ADR-0607)。表は tailwind / trickRoom のクエリ、自分の位置は
/// tailwind / paralysis / tableTailwind の欄(すべて省略可で、省略は false = 従来と同じ応答)。後方互換。
///
public struct Client: APIProtocol {
    /// The underlying HTTP client.
    private let client: UniversalClient
    /// Creates a new client.
    /// - Parameters:
    ///   - serverURL: The server URL that the client connects to. Any server
    ///   URLs defined in the OpenAPI document are available as static methods
    ///   on the ``Servers`` type.
    ///   - configuration: A set of configuration values for the client.
    ///   - transport: A transport that performs HTTP operations.
    ///   - middlewares: A list of middlewares to call before the transport.
    public init(
        serverURL: Foundation.URL,
        configuration: Configuration = .init(),
        transport: any ClientTransport,
        middlewares: [any ClientMiddleware] = []
    ) {
        self.client = .init(
            serverURL: serverURL,
            configuration: configuration,
            transport: transport,
            middlewares: middlewares
        )
    }
    private var converter: Converter {
        client.converter
    }
    /// Pod health check
    ///
    /// - Remark: HTTP `GET /healthz`.
    /// - Remark: Generated from `#/paths//healthz/get(health)`.
    public func health(_ input: Operations.Health.Input) async throws -> Operations.Health.Output {
        try await client.send(
            input: input,
            forOperation: Operations.Health.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/healthz",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.Health.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.Health.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Ingress smoke check
    ///
    /// - Remark: HTTP `GET /api/speed/healthz`.
    /// - Remark: Generated from `#/paths//api/speed/healthz/get(publicHealth)`.
    public func publicHealth(_ input: Operations.PublicHealth.Input) async throws -> Operations.PublicHealth.Output {
        try await client.send(
            input: input,
            forOperation: Operations.PublicHealth.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/speed/healthz",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.PublicHealth.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.Health.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// List the pokemon available in the default regulation
    ///
    /// Returns the pokemon of the service-local read model (ADR-0600 §4), which is the available set of
    /// one regulation, sorted by pokemonId in ascending order (ADR-0600 §5).
    ///
    ///
    /// - Remark: HTTP `GET /api/speed/v1/pokemon`.
    /// - Remark: Generated from `#/paths//api/speed/v1/pokemon/get(listPokemon)`.
    public func listPokemon(_ input: Operations.ListPokemon.Input) async throws -> Operations.ListPokemon.Output {
        try await client.send(
            input: input,
            forOperation: Operations.ListPokemon.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/speed/v1/pokemon",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "X-Device-Id",
                    value: input.headers.xDeviceId
                )
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "X-Session-Id",
                    value: input.headers.xSessionId
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.ListPokemon.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.PokemonListResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 400:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.ListPokemon.Output.BadRequest.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas._Error.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .badRequest(.init(body: body))
                case 503:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.ListPokemon.Output.ServiceUnavailable.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas._Error.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .serviceUnavailable(.init(body: body))
                case 500:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.ListPokemon.Output.InternalServerError.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas._Error.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .internalServerError(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get the speed table of the default regulation
    ///
    /// Returns, for every pokemon of the service-local read model (ADR-0600 §4), one row per selected preset
    /// (ADR-0601 §2), grouped into tiers of the same speed (ADR-0601 §3). Tiers are sorted by speed in
    /// descending order (ascending when trickRoom=true. ADR-0607 §4); inside a tier, entries are sorted by pokemonId ascending, then by the preset order
    /// of ADR-0601 §2. A tier with two or more entries is a speed tie.
    /// Check order: headers (400) → query (400) → read model absent (503) → 200 (ADR-0601 §5).
    ///
    ///
    /// - Remark: HTTP `GET /api/speed/v1/table`.
    /// - Remark: Generated from `#/paths//api/speed/v1/table/get(getSpeedTable)`.
    public func getSpeedTable(_ input: Operations.GetSpeedTable.Input) async throws -> Operations.GetSpeedTable.Output {
        try await client.send(
            input: input,
            forOperation: Operations.GetSpeedTable.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/speed/v1/table",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "X-Device-Id",
                    value: input.headers.xDeviceId
                )
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "X-Session-Id",
                    value: input.headers.xSessionId
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: false,
                    name: "presets",
                    value: input.query.presets
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "tailwind",
                    value: input.query.tailwind
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "trickRoom",
                    value: input.query.trickRoom
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetSpeedTable.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.TableResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 400:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetSpeedTable.Output.BadRequest.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas._Error.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .badRequest(.init(body: body))
                case 503:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetSpeedTable.Output.ServiceUnavailable.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas._Error.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .serviceUnavailable(.init(body: body))
                case 500:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetSpeedTable.Output.InternalServerError.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas._Error.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .internalServerError(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Locate one's own pokemon in the speed table
    ///
    /// Returns the in-battle speed of one's own pokemon and where it falls in the speed table of the
    /// default regulation (ADR-0602 §3). The table is always the full six presets of ADR-0601 §2:
    /// `faster` and `slower` count its rows above and below the given speed, and `tie` lists the rows
    /// with exactly that speed (empty means no speed tie).
    ///
    /// Field effects (ADR-0607): `tailwind` and `paralysis` apply to one's own pokemon (preset and
    /// custom only); `tableTailwind` applies to every row of the table the position is counted in (any
    /// mode). All are optional and default to false, which gives the same response as before.
    /// Trick Room is not an input here: `faster` / `slower` compare speeds and do not depend on it
    /// (under Trick Room, the rows that move before one's own pokemon are the `slower` rows. ADR-0607 §4).
    ///
    /// The input has three shapes, selected by `mode` (ADR-0602 §2):
    /// `preset` needs pokemonId, preset and scarf (the minimal choice: the SP, nature and rank of the
    /// chosen row of ADR-0601 §2, with the Choice Scarf switched independently);
    /// `custom` needs pokemonId, sp, nature, rank and scarf;
    /// `raw` needs value, the in-battle speed itself, and may name pokemonId for display only (its base
    /// speed is not used); `tailwind` and `paralysis` are not allowed for raw. A field the chosen mode does not need, a missing required field, a pokemonId
    /// not matching the NNNN-NNN format, or a value out of range is 400 invalid_request. A JSON `null`
    /// for an optional field is treated the same as omitting it.
    ///
    /// Check order: headers (400) → body (400, or 413 request_too_large over 4 KiB) → read model
    /// absent (503) → unknown pokemonId (422) → 200.
    ///
    ///
    /// - Remark: HTTP `POST /api/speed/v1/position`.
    /// - Remark: Generated from `#/paths//api/speed/v1/position/post(getSpeedPosition)`.
    public func getSpeedPosition(_ input: Operations.GetSpeedPosition.Input) async throws -> Operations.GetSpeedPosition.Output {
        try await client.send(
            input: input,
            forOperation: Operations.GetSpeedPosition.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/speed/v1/position",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "X-Device-Id",
                    value: input.headers.xDeviceId
                )
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "X-Session-Id",
                    value: input.headers.xSessionId
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case let .json(value):
                    body = try converter.setRequiredRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetSpeedPosition.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.PositionResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 400:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetSpeedPosition.Output.BadRequest.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas._Error.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .badRequest(.init(body: body))
                case 413:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetSpeedPosition.Output.ContentTooLarge.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas._Error.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .contentTooLarge(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetSpeedPosition.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas._Error.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                case 503:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetSpeedPosition.Output.ServiceUnavailable.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas._Error.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .serviceUnavailable(.init(body: body))
                case 500:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetSpeedPosition.Output.InternalServerError.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas._Error.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .internalServerError(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
}
