// Generated by swift-openapi-generator, do not modify.
@_spi(Generated) public import OpenAPIRuntime
#if os(Linux)
@preconcurrency public import struct Foundation.URL
@preconcurrency public import struct Foundation.Data
@preconcurrency public import struct Foundation.Date
#else
public import struct Foundation.URL
public import struct Foundation.Data
public import struct Foundation.Date
#endif
import HTTPTypes
/// 判定(素早さ×ダメージ連動)の独立サービスの契約。
/// 「自分のポケモンが相手を素早さで抜けて、かつ使う技で倒せるか」を 1 回の request で判定する。
/// judge は自分の契約を自分で持つ(ADR-0012)。ルートの api/openapi.yaml を $ref せず、
/// 同じ意味のスキーマをここで定義する。欄の意味の正はルートの api/openapi.yaml にある。
/// 契約の正は docs/adr/0700-judge-jd0-foundation.md(基盤)・
/// docs/adr/0701-judge-jd1-outspeed-and-ko.md(判定)・
/// docs/adr/0702-judge-jd2-field-effects.md(場の効果)・
/// docs/adr/0703-judge-jd3-multiple-candidates.md(複数の相手候補)・
/// docs/adr/0704-judge-jd4-counter-attack.md(相手の技を含めた返り討ち判定)と docs/judge-design.md。
///
public struct Client: APIProtocol {
    /// The underlying HTTP client.
    private let client: UniversalClient
    /// Creates a new client.
    /// - Parameters:
    ///   - serverURL: The server URL that the client connects to. Any server
    ///   URLs defined in the OpenAPI document are available as static methods
    ///   on the ``Servers`` type.
    ///   - configuration: A set of configuration values for the client.
    ///   - transport: A transport that performs HTTP operations.
    ///   - middlewares: A list of middlewares to call before the transport.
    public init(
        serverURL: Foundation.URL,
        configuration: Configuration = .init(),
        transport: any ClientTransport,
        middlewares: [any ClientMiddleware] = []
    ) {
        self.client = .init(
            serverURL: serverURL,
            configuration: configuration,
            transport: transport,
            middlewares: middlewares
        )
    }
    private var converter: Converter {
        client.converter
    }
    /// Pod health check
    ///
    /// Pod 自身が生きているかだけを返す。上流(pokedex-svc・calc-svc)の設定・疎通には依存しない
    /// (ADR-0700 §5): 上流が落ちている間に readiness を落とすと judge まで巻き込んで落ちるため。
    /// 上流が使えないことは、判定の endpoint が 503 upstream_unavailable で表す。
    ///
    ///
    /// - Remark: HTTP `GET /healthz`.
    /// - Remark: Generated from `#/paths//healthz/get(health)`.
    public func health(_ input: Operations.Health.Input) async throws -> Operations.Health.Output {
        try await client.send(
            input: input,
            forOperation: Operations.Health.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/healthz",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.Health.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.Health.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Ingress smoke check
    ///
    /// judge 自身の Ingress(/api/judge prefix。ADR-0700 §6-3)越しの疎通確認。
    /// 本文は /healthz と同じで、上流には依存しない。
    ///
    ///
    /// - Remark: HTTP `GET /api/judge/healthz`.
    /// - Remark: Generated from `#/paths//api/judge/healthz/get(publicHealth)`.
    public func publicHealth(_ input: Operations.PublicHealth.Input) async throws -> Operations.PublicHealth.Output {
        try await client.send(
            input: input,
            forOperation: Operations.PublicHealth.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/judge/healthz",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.PublicHealth.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.Health.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 素早さで抜けるか + 倒せるか + 返り討ちに遭わないか(相手候補ごとに)
    ///
    /// 自分(attacker)の調整と自分が使う技 1 つ、および相手候補(defenders。1〜6 件。**候補ごとに
    /// その候補が使う技 moveId を持つ**)を受け取り、候補ごとに「自分が相手より素早いか
    /// (outspeeds / speedTie)」「どちらが先に動くか(attackerMovesFirst / turnOrderTie)」
    /// 「自分の技で相手を倒せるか(attackerKo)」「相手の技で自分が倒されるか(defenderKo)」を
    /// 判定して matchups の配列で返す(ADR-0701 §1・ADR-0703 §1・ADR-0704 §1〜§3)。
    /// 攻撃側と攻撃側の技は 1 つに固定する。
    ///
    /// 先に動く側は **優先度(getMove の priority)が違えば優先度が高い方**で、素早さもトリックルームも
    /// 見ない。優先度が同じときだけ素早さ(outspeeds。トリックルーム反映済み)で決まり、
    /// 優先度も素早さも同じなら turnOrderTie が true になってどちらが先かは決まらない(ADR-0704 §2)。
    /// judge は「勝てる / 負ける」の真偽値に丸めず、双方の確定数と行動順をそのまま返す。
    ///
    /// matchups は defenders と**同じ順序・同じ件数**で、各行は defenderIndex(defenders 配列の位置。
    /// 0 始まり)を持つ。attackerSpeed はどの行でも同じ値になるが、行を自己完結させるために
    /// 各行が持つ(ADR-0703 §2)。同じ speciesKey が候補に重複していても取りまとめず、
    /// 候補の数だけ素直に上流を引く(ADR-0703 §6。技も同じで、同じ moveId をまとめない)。
    ///
    /// 素早さは 実数値(engine.RealStats)→ ランク補正 → 素早さ補正(追い風 ×2・こだわりスカーフ ×1.5)の
    /// 順で求める(ADR-0701 §2・ADR-0702 §2)。補正は 4096 基準で 1 つに連結してから 1 回だけ
    /// 五捨五超入する(各補正ごとに丸めない)。状態異常(麻痺など)による素早さの変化は扱わないため、
    /// Individual に status は無い。ko は calc-svc の計算結果をそのまま転記する(judge は確定数を再計算しない)。
    ///
    /// 場の効果は 2 つの欄に分かれる(ADR-0702 §1)。ダメージに効く weather / terrain / screens は
    /// field に入れ、judge は解釈せず calc-svc へそのまま転送する。素早さにしか効かない
    /// トリックルーム・追い風は speedField に入れ、judge だけが解釈して calc-svc には送らない。
    /// field の attackerScreens / defenderScreens は「自分の側 / 相手の側」に張られた壁を表すので、
    /// **逆方向(相手 → 自分)のダメージ計算のときだけ 2 つを入れ替えて** calc-svc に送る
    /// (壁は場の各側にあり、どちらが殴るかで場所は変わらない。weather / terrain は入れ替えない。ADR-0704 §4)。
    ///
    /// 検査順(ADR-0701 §5 を ADR-0703 §4・ADR-0704 §5 が拡張した形。上流は逐次で呼ぶ):
    /// ヘッダー (400) → body が 1 つの JSON か・上限 8 KiB (400 / 413)
    /// → defenders の件数が 1〜6 か (400)
    /// → attacker と各 defender の sp・ranks・format・必須文字列(候補の moveId を含む)の範囲と、
    ///    ID の形式(moveId / natureId が MoveId / NatureId の pattern・maxLength に合うか。ADR-0706 §1)
    ///    (400。attacker を先に見て、次に defenders を index 昇順。最初に範囲外だった候補の index で止める。
    ///     ここまで上流を 1 回も呼ばない。形式が合わない ID は 503 upstream_unavailable にならない。ADR-0706 §3)
    /// → 性格の一覧 (1 リクエストにつき 1 回だけ。503)
    /// → natureId が一覧に無い (422 unknown_nature。attacker → defenders を index 昇順に見て最初の 1 件)
    /// → attacker の種族 (422 unknown_species / 503)
    /// → attacker の技 (422 unknown_move / 503)
    /// → 各 defender の【種族 → 技】(index 昇順。最初に失敗した候補で打ち切る)
    /// → 各 defender の【順方向のダメージ計算 → 逆方向のダメージ計算】
    ///    (index 昇順。最初に失敗した候補で打ち切る。400 / 503) → 200。
    ///
    /// 1 リクエストの上流呼び出しは 性格 1 + 種族 (1+N) + 技 (1+N) + ダメージ計算 2N の
    /// 3+4N 回になる(N は候補数)。**攻撃側の技も上流で解決するようになったため、未知の技は
    /// calc-svc に届く前に 422 unknown_move になる**(JD3 までは calc-svc の 400 が
    /// invalid_request に畳まれていた。ADR-0704 §7)。
    ///
    /// **エラーは最初に失敗した候補で全体を打ち切る**(部分的な成功は返さない。ADR-0703 §3)。
    /// どの候補で失敗したかは、エラーの message に defenders[<index>] の形で入る
    /// (上流の URL・本文は入らない。ADR-0700 §3 は保たれる)。
    ///
    ///
    /// - Remark: HTTP `POST /api/judge/v1/outspeed-and-ko`.
    /// - Remark: Generated from `#/paths//api/judge/v1/outspeed-and-ko/post(outspeedAndKo)`.
    public func outspeedAndKo(_ input: Operations.OutspeedAndKo.Input) async throws -> Operations.OutspeedAndKo.Output {
        try await client.send(
            input: input,
            forOperation: Operations.OutspeedAndKo.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/judge/v1/outspeed-and-ko",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "X-Device-Id",
                    value: input.headers.xDeviceId
                )
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "X-Session-Id",
                    value: input.headers.xSessionId
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case let .json(value):
                    body = try converter.setRequiredRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.OutspeedAndKo.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.OutspeedAndKoResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 400:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.OutspeedAndKo.Output.BadRequest.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas._Error.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .badRequest(.init(body: body))
                case 413:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.OutspeedAndKo.Output.ContentTooLarge.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas._Error.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .contentTooLarge(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.OutspeedAndKo.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas._Error.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                case 503:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.OutspeedAndKo.Output.ServiceUnavailable.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas._Error.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .serviceUnavailable(.init(body: body))
                case 500:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.OutspeedAndKo.Output.InternalServerError.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas._Error.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .internalServerError(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
}
